@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: 'RedHat-400';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../public/assets/fonts/RedHatText-VariableFont_wght.ttf') format('ttf');
  }

  @font-face {
    font-family: 'RedHat-600';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../public/assets/fonts/RedHatText-VariableFont_wght.ttf') format('ttf');
  }

  
  @font-face {
    font-family: 'RedHat-700';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../public/assets/fonts/RedHatText-VariableFont_wght.ttf') format('ttf');
  }

  @font-face {
    font-family: 'RedHat-italic';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../public/assets/fonts/RedHatText-Italic-VariableFont_wght.ttf') format('ttf');
  }
}


:root {
  font-family: 'RedHat-400',sans-serif;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
